<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/CSS/login.css">
    <title>Hostel Management Information System</title>
</head>


<body>
    <header>
        <img class="img-logo" src="/view/HTML/Img/logo.png">
        <h1>CEM COLLEGE OF ENGINEERING AND TECHNOLOGY, INDIA.</h1>
        <h3>WELCOME TO CEM HOSTEL WEB-PORTAL.</h3>
        <h5>THIS PORTAL PROVIDES COMPLETE INFORMATION ABOUT THE CEM COLLEGE'S HOSTEL FACILITIES.</h5>
    </header>
    <div>
        <ul class="bar-ul">
            <li class="bar-li"><button>HOME</button></li>
            <li class="bar-li"><button>GALLERY</button></li>
            <li class="bar-li"><button>INFRASTRUCTURE</button></li>
            <li class="bar-li"><button>CALENDAR</button></li>
            <li class="bar-li"><button>NOTICE BOARD</button></li>
            <li class="bar-li"><button>ALUMNI REVIEW</button></li>
            <li class="bar-li"><button>FEES STRUCTURE</button></li>
            <li class="bar-li"><button>REGISTERATION PROCESS</button></li>
        </ul>
    </div>
    <div class="divbox">
        <section>
            <nav class="side-bar">
                <pre>
                    <ul style="margin-top: 0px;">
                        <li><a href=""><strong>STUDENT LOGIN</strong></a></li>
                        <li><a href=""><strong>ADMIN LOGIN</strong></a></li>
                        <li><a href=""><strong>ABOUT US</strong><a></li>
                        <li><a href=""><strong>CONTACT DETAILS</strong><a></li>
                        <li><a href=""><strong>APPLY ONLINE</strong><a></li>
                      </ul>
                </pre>
            </nav>
            <article class="arti">
                <h2>CEM HOSTEL IMAGES</h2>
                <img class="clg-img" src="/view/HTML/Img/R.jpeg" alt="">
                <img class="clg-img" src="/view/HTML/Img/Main-Hostel.jpg" alt="">
                <img class="clg-img" src="/view/HTML/Img/OIP.jpeg" alt="">
            </article>
        </section>
    </div>
    <script src="/view/JavaScript/login.js"></script>
</body>

</html>